/* navbar */
.navbar {
    background-color: #FF7F50;
    border-color: #FFA500;
}
/* Title */
.navbar .navbar-brand {
    color: #f7f7f7;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar .navbar-nav > li > a {
    color: #f7f7f7;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #555;
    background-color: #FF7F50;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #FFA500;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #FF7F50;
}

/* Caret */
.navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #f7f7f7;
    border-bottom-color: #777;
}
.navbar .navbar-nav > .dropdown > a:hover .caret,
.navbar .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar .navbar-nav > .open > a .caret,
.navbar .navbar-nav > .open > a:hover .caret,
.navbar .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar .navbar-toggle {
    border-color: #FFA500;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #FFA500;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #FFA500;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #FFA500;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.dropdown-menu {
    background-color: #FF7F50;
}
.dropdown-menu > li > a {
    color: #f7f7f7;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #333;
    background-color: #FF7F50;
}

